<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/redirect" method="post">
    <label for="duration">Duration</label>
    <input type="text" name="duration" id="duration">
    <label for="location">Location</label>
    <input type="text"  name="location" id="location"> 
    <label for="departure_date">Departure date</label>
    <input type="text"  name="departure_date">
    <label for="trip_name" >Trip Name</label>
    <input type="text"  name="trip_name" id="trip_name">
    <input type="submit" value="Submit" id="submit">
    </form>


</body>
</html>